<div>
    <mat-button-toggle-group #colorToggle="matButtonToggleGroup"
                             value="primary"
                             aria-label="Change color">
      <mat-button-toggle value="primary">Primary</mat-button-toggle>
      <mat-button-toggle value="accent">Accent</mat-button-toggle>
      <mat-button-toggle value="warn">Warn</mat-button-toggle>
    </mat-button-toggle-group>
  </div>

  <div>
    <mat-button-toggle-group #backgroundColorToggle="matButtonToggleGroup"
                             value="primary"
                             aria-label="Change color">
      <mat-button-toggle value="primary">Primary</mat-button-toggle>
      <mat-button-toggle value="accent">Accent</mat-button-toggle>
      <mat-button-toggle value="warn">Warn</mat-button-toggle>
    </mat-button-toggle-group>
  </div>

  <mat-tab-group [color]="colorToggle.value" [backgroundColor]="backgroundColorToggle.value" style="--mat-tab-header-with-background-background-color: black;">
    <mat-tab label="Autoware Launch GUI"> <autoware-root></autoware-root></mat-tab>
    <mat-tab label="Pointcloud Launch GUI"> <app-point-cloud></app-point-cloud></mat-tab>
  </mat-tab-group>

<router-outlet></router-outlet>